// put your own custom css here

// GOOGLE TRANSLATE
input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid #5b616b;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.7rem;
  height: 3.8rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}


// COLOURS -------------------
.usa-section-dark h1,
.usa-section-dark h2,
.usa-section-dark h3,
.usa-section-dark h4,
.usa-section-dark h5,
.usa-section-dark h6 {
  color: $white;
}

// BACKGROUND GREEN
.bggreen,
.usa-nav-primary button[aria-expanded=true],
.usa-nav-primary button[aria-expanded=true]:hover,
.usa-nav-submenu,
.usa-section-dark,
.usa-alert-success::before
 {
  background-color: $green
}

// BACKGROUND DARK GREEN
.usa-button:hover, .usa-button.usa-button-hover, .usa-button-primary:hover, .usa-button-primary.usa-button-hover, .usa-button:visited:hover, .usa-button:visited.usa-button-hover, .usa-button-primary:visited:hover, .usa-button-primary:visited.usa-button-hover, button:hover, button.usa-button-hover, [type=button]:hover, [type=button].usa-button-hover, [type=submit]:hover, [type=submit].usa-button-hover, [type=reset]:hover, [type=reset].usa-button-hover, [type=image]:hover, [type=image].usa-button-hover,
.usa-nav-submenu a:hover,
.bgdgreen {
  background-color: $dgreen
}

.bgwhite {
  background-color: $bgwhite
}

.bgblue {
  background-color: #3BBAF1
}

//.usa-footer-primary-section a:link,
//.usa-footer-primary-section a:visited,{
 // color: $white;
//}

textarea {
  height: 16rem;
}

//ul, ol {
  //padding-left: 0;
//}

body {
  border-top: 0px solid $green
}

a, a:link {
  color: #222
}

a:hover {
  color: $green
}

a:visited {
  color: #222
}

.green,
a.green,
.mmgreen,
.mmgreen .usa-section-dark a:hover {
  color: $green;
}

// BACKGROUND WHITE
.usa-footer-secondary_section {
  background-color: $white
}

// COLOUR GREEN
input, textarea, select {
  border: 0.1rem solid $green
}

// COLOUR WHITE
.usa-section-dark .usa-hero-link {
  color: $color-base
}

.bglogo {
  background: $green url(../img/mm/mmlogo-sm-blk.png) bottom right no-repeat;
}

.bglogo-full {
  background: $green url(../img/mm/mmlogo-full-blk.png) bottom right no-repeat;
}

.bg-light-gray  {
  background-color: #EEEEEE
}

.usa-banner-content {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.usa-header-extended .usa-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.usa-nav-secondary {
  position: absolute;
  right: 3rem;
  top: -6.5rem;
}

// Hero

.usa-hero {
  background-image: none
}

.usa-hero-callout {
  max-width: none;
  padding: 3rem 1.5rem;
}

// FOOTER

.usa-footer-logo-img {
  max-width: none;
}

// Form selector fix?

select {
  padding: 0rem .7em;
}
