body, div, p, blockquote, ol, ul,dl, li, dt, dd, td {font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #525051;line-height:17px;}

/*a {
	color:#ff1300;
	text-decoration:none;
	font-weight: normal;	
}
a:hover {
	color:#4fad26;
	text-decoration:none;
	font-weight: normal;
}
*/
.menu-new {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #525051;
}

.menu-new a {
	color: #525051;
	font-size: 14px;
	display: block;
}

.menu-new a:hover {
	color: #4fad26;
	font-size: 14px;
	display: block;
}

.menu-new span {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #E51038;
	display: block;
}
.messagerow {
	color:#E51038;
	text-decoration:none;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.menusubtitle {
	color:#4fad26;
	text-decoration:none;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 22px;

}.menusubtitlesmall {
	color:#4fad26;
	text-decoration:none;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;

}

.title {
	color:#ff1300;
	text-decoration:none;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: normal;
}
/*
h1 {
	color:#4fad26;
	text-decoration:none;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
}


h2 {
	color: #4fad26;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: solid;
}	
*/
.small {
	color: #525051;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;

	
}	
.marquee{
	color: #525051;
	line-height: 13px;
}

.marquee a {
	color: #525051;
	line-height: 13px;
	padding-left:10px;
	padding-right:10px;
}

.marquee a:hover {
	color: #4fad26;
}


.base-link{
	color: #525051;
}

.base-link a {
	color: #525051;
}

.base-link a:hover {
	color: #4fad26;
}

.base-link-bold{
	color: #4fad26;
	font-size: 13px;
	font-weight: bold;
}

.base-link-bold a {
	color: #4fad26;
	font-size: 13px;
	font-weight: bold;
}

.base-link-bold a:hover {
	color: #ff1300;
	font-size: 13px;
	font-weight: bold;

}

.phone-bold{
	color: #ff1300;
	font-size: 13px;
	font-weight: bold;
}

.phone-bold a {
	color: #ff1300;
    font-size: 13px;
	font-weight: bold;
}

.phone-bold a:hover {
 	color: #4fad26;
	font-size: 13px;
	font-weight: bold;

}

.newsdate
{
color: #4fad26;
font-size: 10px;
text-align:right;
}

.warning {
	color: #000000;
	font-size: 14px;
	display: block;
	font-weight: bold;
	background-color: #FFCC00;
}

.searchitemheadline {
	color:#ff1300;
	text-decoration:none;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.searchitemabstract {
	color:#525051;
	text-decoration:none;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 120%;
	padding-bottom: 10px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.ItemThumbnail {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 0px;
}