

{{ define "main" }}

  {{ with .Params.subtitle }}

    <section class="mv5 pv0 usa-grid usa-section">
      <div class="usa-width-two-thirds">
        <section class="mw6 mw8-ns dib bggreen white pa3">
          <h2 class="mv0">
            {{ . }}
          </h2>
        </section>
      </div>
    </section>

  {{ end }}


  <section class="mv5 pv0 usa-grid usa-section">
    <div class="usa-width-four-fourths usa-layout-docs-main_content">
        <main class='pt0' id="main-content">

                {{ partial "hero-2" . }}

                <div id="more" class="mv6">
                  {{ .Content | replaceRE "<p>" "<p class=\"\">" | safeHTML }}
                </div>

                {{ if .Params.includemaplocator }}
                  {{ partial "intro-search" . }}
                {{ end }}


        </main>

    </div>

  </section>


{{ end }}

