{{ define "main" }}

  {{ with .Params.subtitle }}

    <section class="mv5 pv0 usa-grid usa-section">
      <div class="usa-width-two-thirds">
        <section class="mw6 mw8-ns dib bggreen white pa3">
          <h2 class="mv0">
            {{ . }}
          </h2>
        </section>
      </div>
    </section>

  {{ else }}

    <section class="mv5 pv0 usa-grid usa-section">
      <div class="usa-width-two-thirds">
        <section class="mw6 mw8-ns dib bggreen white pa3">
          <h2 class="mv0">
            {{ .Title }}
          </h2>
        </section>
      </div>
    </section>

  {{ end }}


  {{ if .Params.includemaplocator }}
    {{ partial "intro-search" . }}
  {{ end }}


  <section class="mv5 pv0 usa-grid usa-section">
    <div class="usa-width-three-fourths usa-layout-docs-main_content">
        <main class="" id="main-content">

            {{ if eq .Section "news" }}
              <h3 class="mt2">News Release: {{ dateFormat "02 January 2006, 15:04 MST" .Date.Local }}</h3>
            {{ end }}

              {{ if eq .URL "/news/" }}
                {{ partial "news" . }}
              {{ end }}

              {{ if or (eq .URL "/mobile-for-a-meal/") (eq .URL "/campaign/mobile-for-a-meal/") }}

                <section class="pt0 usa-hero">
                  <div class="ph0 usa-grid">
                    <div class="cf br3 usa-width-full bg-light-gray usa-section-dark">
                      <div class="usa-width-one-half">
                        <img class="w-100" src="{{ .Site.BaseURL }}img/mm/campaign-img-blue.jpg" alt="">
                      </div>
                      <div class="pt4 pl3 pr4 usa-width-one-half">
                        <span class="dib measure-wide mb1 pv2 bggreen dib usa-label">{{ .Title }}</span>
                        <h2><span class="near-black usa-hero-callout-alt">Recycle your mobile this summer and we’ll donate a meal to someone in need through OzHarvest.</span></h2>
                        <a class="mmgreen hover-near-black usa-hero-link" href="#more">Read more &rarr;</a>
                      </div>
                    </div>
                  </div>
                </section>

                {{ partial "intro-search" . }}

              {{ end }}

              <div id="more">
                {{ .Content | replaceRE "<p>" "<p class=\"\">" | safeHTML }}
              </div>

              {{ if eq .URL "/partners/" }}
                {{ partial "form-partner" . }}
              {{ end }}

              {{ if eq .URL "/contact/" }}
                {{ partial "form-contact" . }}
              {{ end }}


      </main>
    </div>
  </section>

  {{ if eq .URL "/locator-map/" }}
    {{ partial "locator-map" . }}
  {{ end }}

{{ end }}

