@charset "utf-8";
@import "http://www.mobilemuster.com.au/activities/css/fonts/stylesheet.css";

@font-face {
    font-family: 'vag_rounded_std_thinregular';
}

@font-face {
    font-family: 'vagroundedregular';
}

@font-face {
    font-family: 'simpliciter_sansbold';
}

@font-face {
    font-family: 'simpliciter_sansitalic';
}

@font-face {
    font-family: 'simpliciter_sansregular';
}

@font-face {
    font-family: 'vagroundedregular';
}

@font-face {
    font-family: 'vagroundedregular';
}

@font-face {
    font-family: 'vagroundedregular';
}

@font-face {
    font-family: 'vag_rounded_std_thinbold';
}

@font-face {
    font-family: 'vag_rounded_std_lightbold';
}

@font-face {
    font-family: 'vag_rounded_std_lightregular';
}

@font-face {
    font-family: 'londrina_solidregular';
}
/* CSS Document */
html, body, * {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

input, select, textarea, samp {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    margin-bottom: 1em;
    line-height: 1em;
}

input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
}
/* generic page link colours */
a {
    text-decoration: underline;
    color: #333;
}
    /*a:link{ color: #fff;}*/
    a:visited {
        color: #333;
    }

    a:active {
        color: #333;
    }

    a:hover {
        color: #333;
    }

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* CLEAR FIX*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */
.clear {
    clear: both;
}

a img {
    border: 0;
    display: block;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url("http://www.mobilemuster.com.au/activities/images/bg-dark.png") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: ##4C565C;
    line-height: 16px;
}

.wrapper-inner {
    height: auto !important;
    min-height: 100%;
    background: url("http://www.mobilemuster.com.au/activities/images/mmkz_bg.png") repeat;
}

.containerr {
    background: url("http://www.mobilemuster.com.au/activities/images/sawtooth.png") repeat-x;
    min-height: 148px;
}

.musterKidsZone {
    width: 934px;
    margin: 0 auto;
}

.colA_l {
    width: 605px;
    float: left;
    border-top: 3px solid #e5e5e5;
}

.musterKidsZone .colA_r {
    width: 250px;
    float: left;
    margin-left: 24px;
    margin-top: 16px;
}

    .colA_l .inner, .musterKidsZone .colA_r .inner {
        padding: 1px 0px;
        background: #fff;
        min-height: 10px;
    }

.colA_l .inner {
    /*min-height: 1078px;*/
}

.musterKidsZone .leftBox_bottom {
    width: 660px;
    height: 19px;
    background: url("http://www.mobilemuster.com.au/activities/images/leftBox-bg.png") no-repeat;
}

.musterKidsZone .rightBox_bottom {
    width: 250px;
    height: 12px;
    background: url("http://www.mobilemuster.com.au/activities/images/rightBox-bg.png") no-repeat;
}

.panel01 {
    /*padding: 16px 29px 6px;*/
    padding: 16px 0px 6px;
}

    .panel01 .links {
        padding-top: 7px;
    }

        .panel01 .links a {
            display: inline-block;
            width: 111px;
            height: 82px;
            margin: 0px 5px 0px 4px;
			text-decoration:none;
        }

            .panel01 .links a.button-games {
                background: url("http://www.mobilemuster.com.au/activities/images/button-games.png") no-repeat;
            }

            .panel01 .links a.button-downloads {
                background: url("http://www.mobilemuster.com.au/activities/images/button-downloads.png") no-repeat;
            }

            .panel01 .links a.button-runAmuster {
                background: url("http://www.mobilemuster.com.au/activities/images/button-runAmuster.png") no-repeat;
            }

            .panel01 .links a.button-calculator {
                background: url("http://www.mobilemuster.com.au/activities/images/button-calculator.png") no-repeat;
            }

            .panel01 .links a.button-sendUsYourWork {
                background: url("http://www.mobilemuster.com.au/activities/images/button-sendUsYourWork.png") no-repeat;
            }

.links a.button-games:hover, .links a.button-downloads:hover, .links a.button-runAmuster:hover, .links a.button-calculator:hover, .links a.button-sendUsYourWork:hover {
    background-position: 0px -82px;
}

.panel02 .links {
    /*padding: 16px 29px;*/
    padding: 16px 0px;
    margin-top: 13px;
    background: url("http://www.mobilemuster.com.au/activities/images/mmkz_bg_light.png") repeat;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

    .panel02 .links .arrow {
        display: block;
        width: 30px;
        height: 13px;
        background: url("http://www.mobilemuster.com.au/activities/images/arrow.png") no-repeat;
        position: absolute;
        left: 60px;
        top: -13px;
    }

    .panel02 .links a {
        display: inline-block;
        width: 190px;
        height: 82px;
        margin: 0px 5px 0px 4px;
    }

    .panel02 .links .button-hist {
        background: url("http://www.mobilemuster.com.au/activities/images/button-hist.png") no-repeat;
    }

    .panel02 .links .button-mobile {
        background: url("http://www.mobilemuster.com.au/activities/images/button-mobile.png") no-repeat;
    }

    .panel02 .links .button-mobilephone {
        background: url("http://www.mobilemuster.com.au/activities/images/button-mobilephone.png") no-repeat;
    }

.links .button-hist:hover, .links .button-mobile:hover, .links .button-mobilephone:hover {
    background-position: 0px -82px;
}

.gameHist_container {
    width: 600px;
    height: 500px;
    margin: 23px auto 0px;
    background: url("http://www.mobilemuster.com.au/activities/images/gameHist.png") no-repeat;
    position: relative;
}

    .gameHist_container .gameHeader {
        height: 94px;
        padding-top: 13px;
        text-align: center;
    }

    .gameHist_container .gameContainer {
        height:180px;
        overflow: hidden;
        position: relative;
    }

    .gameHist_container .gameFooter {
        padding-top: 24px;
        padding-left: 13px;
    }

        .gameHist_container .gameFooter .col01 {
            width: 173px;
            height: 101px;
            background: url("http://www.mobilemuster.com.au/activities/images/instructions.png") no-repeat;
            float: left;
        }

        .gameHist_container .gameFooter .col02 {
            width: 299px;
            height: 94px;
            float: left;
            margin-left: 10px;
            margin-top: 4px;
        }

            .gameHist_container .gameFooter .col02 .borderDiv {
                width: 299px;
                height: 94px;
                background: url("http://www.mobilemuster.com.au/activities/images/section-largeBox2.png") no-repeat;
                position: absolute;
            }

        .gameHist_container .gameFooter .col03 {
            width: 77px;
            float: left;
            margin-left: 13px;
            margin-top: 6px;
        }

            .gameHist_container .gameFooter .col03 .leftToGo {
                display: block;
                width: 77px;
                height: 47px;
                background: url("http://www.mobilemuster.com.au/activities/images/leftToGo.png") no-repeat;
                padding: 8px 0px 3px;
                font-family: 'londrina_solidregular';
                font-size: 29px;
                text-align: center;
                color: #fff;
            }

        .gameHist_container .gameFooter .gameFooter .col03 img {
            display: block;
            margin-bottom: 3px;
        }

        .gameHist_container .gameFooter .borderInner {
            width: 292px;
            height: 86px;
            background: url("http://www.mobilemuster.com.au/activities/images/section-largeBox2-inner.png") no-repeat;
            position: absolute;
            left: 4px;
            top: 4px;
        }

            .gameHist_container .gameFooter .borderInner .intro {
                width: 230px;
                height: 70px;
                overflow: hidden;
                margin: 7px 0px 0px 12px;
                font-size: 11px;
                color: #312542;
                font-weight: bold;
                line-height: 14px;
            }

            .gameHist_container .gameFooter .borderInner .btn-giveMeAHint {
                display: block;
                width: 40px;
                height: 72px;
                background: url("http://www.mobilemuster.com.au/activities/images/button-hint.png") no-repeat;
                position: absolute;
                right: 10px;
                top: 7px;
            }

    .gameHist_container .gameContainer .borderInner {
        width: 295px;
        height: 89px;
        background: url("http://www.mobilemuster.com.au/activities/images/section-largeBox-r2.png") no-repeat;
        position: absolute;
        left: 0px;
        top: 0px;
    }

        .gameHist_container .gameContainer .borderInner .intro {
            width: 230px;
            height: 70px;
            overflow: hidden;
            margin: 7px 0px 0px 12px;
            font-size: 11px;
            color: #312542;
            font-weight: bold;
            line-height: 14px;
        }

        .gameHist_container .gameContainer .borderInner .correct, .gameMap_container .gameContainer .borderInner .correct, .resultBox .borderInner .correct {
            display: block;
            width: 39px;
            height: 38px;
            background: url("http://www.mobilemuster.com.au/activities/images/correct.png") no-repeat;
            position: absolute;
            right: 9px;
            top: 5px;
        }

        .gameHist_container .gameContainer .borderInner .learnMore, .gameMap_container .gameContainer .borderInner .learnMore, .resultBox .borderInner .learnMore {
            display: block;
            width: 40px;
            height: 33px;
            background: url("http://www.mobilemuster.com.au/activities/images/learnMore.png") no-repeat;
            position: absolute;
            right: 8px;
            top: 48px;
        }

    .gameHist_container .gameContainer .borderInner2 {
        width: 140px;
        height: 100px;
        background: url("http://www.mobilemuster.com.au/activities/images/section-largeBox-r1.png") no-repeat;
        position: absolute;
        left: 0px;
        top: 0px;
    }

        .gameHist_container .gameContainer .borderInner2 .picshow {
            width: 78px;
            height: 95px;
            text-align: center;
            margin-left: 4px;
            margin-top: 1px;
            background: #fff;
        }

        .gameHist_container .gameContainer .borderInner2 .correct {
            display: block;
            width: 39px;
            height: 38px;
            background: url("http://www.mobilemuster.com.au/activities/images/correct.png") no-repeat;
            position: absolute;
            right: 9px;
            top: 30px;
        }

        .gameHist_container .gameContainer .borderInner2 .learnMore {
            display: block;
            width: 40px;
            height: 33px;
            background: url("http://www.mobilemuster.com.au/activities/images/learnMore.png") no-repeat;
            position: absolute;
            right: 8px;
            top: 53px;
        }

.timeline {
    width:550px;
    height: 250px;
    position: relative;
}

    .timeline .prev, .timeline .next {
        display: block;
        width: 50px;
        height: 70px;
        background: url("http://www.mobilemuster.com.au/activities/images/prev-next.png") no-repeat;
        position: absolute;
        top: 63px;
        z-index: 100;
    }

    .timeline .prev {
        left: 0px;
        background-position: 0px -70px;
    }

    .timeline .next {
        right: 0px;
        background-position: -50px -70px;
    }

    .timeline .prev:hover, .timeline .prev.disabled {
        background-position: 0px 0px;
    }

    .timeline .next:hover, .timeline .next.disabled {
        background-position: -50px 0px;
    }

    .timeline .items {
        width: 20000em;
        position: absolute;
        left: 31px;
        top: 0px;
    }

    .timeline .section {
        border-bottom: 5px solid #fff;
        width: 310px;
        padding-bottom: 26px;
        float: left;
        position: relative;
        *padding-bottom: 10px;
    }

        .timeline .section .largeBox {
            width: 290px;
            height: 87px;
            background: url("http://www.mobilemuster.com.au/activities/images/section-largeBox.png") no-repeat;
            margin-bottom: 18px;
            position: relative;
        }

        .timeline .section .smallBox {
            width: 139px;
            height: 99px;
            float: left;
            background: url("http://www.mobilemuster.com.au/activities/images/section-smallBox.png") no-repeat;
            margin-right: 15px;
            position: relative;
        }

        .timeline .section .circle-point {
            display: none;
        }

        .timeline .section.first .circle-point {
            display: block;
            width: 14px;
            height: 14px;
            background: url("http://www.mobilemuster.com.au/activities/images/white-circle.png") no-repeat;
            position: absolute;
            left: -6px;
            bottom: -9px;
        }

        .timeline .section .line1, .timeline .section .line2, .timeline .section .line3 {
            width: 3px;
            height: 26px;
            overflow: hidden;
            background: url("http://www.mobilemuster.com.au/activities/images/line.png") repeat-y;
            position: absolute;
            bottom: 0px;
        }

        .timeline .section .line1 {
            left: 68px;
        }

        .timeline .section .line2 {
            left: 146px;
            height: 144px;
        }

        .timeline .section .line3 {
            left: 222px;
        }

        .timeline .section .year {
            width: 42px;
            height: 22px;
			padding:2px 2px 0 0;
            background: url("http://www.mobilemuster.com.au/activities/images/year-bg.png") no-repeat;
            position: absolute;
            left:84px;
            bottom: -14px;
            font-size: 14px;
            color: #312542;
            font-weight: bold;
            text-align: center;
            line-height: 18px;
        }

div.content-right h2 {
    height: 20px;
    background: url("http://www.mobilemuster.com.au/activities/images/schoolsLogin.png") no-repeat;
    font-family: 'simpliciter_sansbold';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    padding: 10px 0px 9px 14px;
    width: 238px;
    background-color: #000;
}

    div.content-right h2.waysToRecycle {
        height: 20px;
        background: #f05523;
        font-family: 'simpliciter_sansbold';
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
        padding: 10px 0px 9px 14px;
        margin-bottom: 12px;
    }

.content-right .head {
    padding: 15px 0 8px 0px;
}

/*client css*/
.rhs-login-box {
    width: 227px;
    height: 155px;
    margin-left: 11px;
    background: url("http://www.mobilemuster.com.au/activities/images/rhs-login-field.png") no-repeat;
    position: relative;
}

    .rhs-login-box input {
        color: #5D5D5D;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        line-height: 16px;
    }

input.username-field {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-style: italic;
    left: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    width: 200px;
}

input.password-field {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-style: italic;
    left: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 41px;
    width: 156px;
}

input.rhs-submit-button {
    width: 48px;
    height: 24px;
    height: 24px;
    background: url("http://www.mobilemuster.com.au/activities/images/button-login-small.png") no-repeat 0px 0px;
    border: none;
    cursor: pointer;
    left: 177px;
    position: absolute;
    top: 38px;
}

    input.rhs-submit-button:hover {
        background-position: 0px -25px;
        margin: 0px;
        padding: 0px;
    }

div.content-right {
    width: 250px;
    background: none;
    padding: 0px;
}

    div.content-right .inner {
        width: 216px;
        background: #fff;
        padding: 0 18px 10px;
    }

div.content-right-new {
    background: url("http://www.mobilemuster.com.au/activities/images/rightBox-bg.png") no-repeat 0px 0px;
    float: none;
    margin-left: 1px;
    margin-top: 0;
}

div.rhs-login-box p {
    width: 237px;
    font-size: 12px;
    height: 24px;
    position: absolute;
    left: 2px;
    top: 73px;
    color: #666;
    line-height: 19px;
}

    div.rhs-login-box p a {
        color: #666;
    }

a.rhs-runMuster {
    background: url("http://www.mobilemuster.com.au/activities/images/button-rhs-runMuster.png") no-repeat;
    cursor: pointer;
    display: block;
    height: 42px;
    margin: 0 0 5px -10px;
    width: 233px;
}

a.rhs-pickup {
    background: url("http://www.mobilemuster.com.au/activities/images/button-rhs-pickup-satchel.png") no-repeat;
    cursor: pointer;
    display: block;
    height: 42px;
    margin: 0 0 5px -10px;
    width: 233px;
}

a.rhs-download {
    background: url("http://www.mobilemuster.com.au/activities/images/button-rhs-download.png") no-repeat;
    cursor: pointer;
    display: block;
    height: 42px;
    margin: 0 0 5px -10px;
    width: 233px;
}

    a.rhs-runMuster:hover, a.rhs-pickup:hover, a.rhs-download:hover {
        background-position: 0px -42px;
    }

div.rhs-ways-to-recycle-box {
    background-image: url("http://www.mobilemuster.com.au/activities/images/rhs-search-bg.png");
    background-position: left top;
    display: block;
    height: 93px;
    margin: 0 0 5px -10px;
    position: relative;
    width: 233px;
}

div.rhs-ways-to-recycle-box .home-find-search{
  background:transparent;
  border:0;
  margin:0;
  padding:0;
  left:54px;
  top:52px;
  position:absolute;
  width:143px;
  	font-family: SimpliciterSans;
	font-size:13px;
	padding-top:5px;
	height:21px;
}

div.rhs-ways-to-recycle-box .home-find-submit{
  background:transparent;
  background-image:url("http://www.mobilemuster.com.au/activities/images/button-search-ok.png");
  width:26px;
  height:24px;
  margin:0;
  padding:0;
  background-position:left top;
  cursor:hand;
  cursor:pointer;
  position:absolute;
  right:13px;
  top:57px;
  display:block;
  border:0;
}
div.rhs-ways-to-recycle-box .home-find-submit:hover{
  background-position:left -25px;
}

.gameMap_container {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 23px auto 0px;
}

    .gameMap_container .gameHeader {
        width: 600px;
        height: 92px;
        background: url("http://www.mobilemuster.com.au/activities/images/mapHeader.png") no-repeat;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 10;
    }

    .gameMap_container .gameFooter {
        width: 600px;
        height: 143px;
        background: url("http://www.mobilemuster.com.au/activities/images/mapFooter.png") no-repeat;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding-top: 27px;
        z-index: 10;
    }

        .gameMap_container .gameFooter .col01 {
            width: 173px;
            height: 101px;
            background: url("http://www.mobilemuster.com.au/activities/images/instructions-map.png") no-repeat;
            float: left;
            margin-left: 25px;
        }

        .gameMap_container .gameFooter .col02 {
            width: 274px;
            height: 95px;
            float: left;
            margin-left: 10px;
            margin-top: 4px;
        }

        .gameMap_container .gameFooter .col03 {
            width: 77px;
            float: left;
            margin-left: 19px;
            margin-top: 6px;
        }

            .gameMap_container .gameFooter .col03 .leftToGo {
                display: block;
                width: 77px;
                height: 47px;
                background: url("http://www.mobilemuster.com.au/activities/images/leftToGo-map.png") no-repeat;
                padding: 8px 0px 3px;
                font-family: 'londrina_solidregular';
                font-size: 29px;
                text-align: center;
                color: #fff;
            }

        .gameMap_container .gameFooter .gameFooter .col03 img {
            display: block;
            margin-bottom: 3px;
        }

        .gameMap_container .gameFooter .col02 .borderDiv {
            width: 274px;
            height: 95px;
            background: url("http://www.mobilemuster.com.au/activities/images/section2-largeBox2.png") no-repeat;
            position: absolute;
        }

        .gameMap_container .gameFooter .borderInner {
            width: 264px;
            height: 86px;
            background: url("http://www.mobilemuster.com.au/activities/images/section2-largeBox2-inner.png") no-repeat;
            position: absolute;
            left: 5px;
            top: 5px;
        }

    .gameMap_container .borderInner .intro {
        width: 130px;
        height: 77px;
        overflow: hidden;
        margin: 7px 0px 0px 10px;
        font-size: 11px;
        color: #312542;
        font-weight: bold;
        line-height: 14px;
        overflow-y: scroll;
    }

    .gameMap_container .borderInner h3 {
        font-family: 'londrina_solidregular';
        font-size: 18px;
        margin-bottom: 3px;
    }

    .gameMap_container .gameFooter .borderInner .btn-giveMeAHint {
        display: block;
        width: 40px;
        height: 72px;
        background: url("http://www.mobilemuster.com.au/activities/images/button-hint-map.png") no-repeat;
        position: absolute;
        right: 6px;
        top: 7px;
    }

    .gameMap_container .borderInner .picshow {
        width: 67px;
        height: 85px;
        overflow: hidden;
        background: #e4e4e4;
        position: absolute;
        right: 51px;
        top: 0px;
    }

    .gameMap_container .gameContainer {
        width: 600px;
        height: 302px;
        position: absolute;
        left: 0px;
        top: 68px;
        overflow: hidden;
    }

        .gameMap_container .gameContainer .mapDiv {
            width: 2729px;
            height: 1509px;
            position: absolute;
            background: url("http://www.mobilemuster.com.au/activities/images/mm_kz_game_map.png") no-repeat; /*left:-1783px; top:-293px;*/
        }

            .gameMap_container .gameContainer .mapDiv > div {
                width: 269px;
                height: 87px;
                position: absolute;
            }

            .gameMap_container .gameContainer .mapDiv div.peru {
                left: 433px;
                top: 773px;
            }

            .gameMap_container .gameContainer .mapDiv div.chile {
                left: 498px;
                top: 912px;
            }

            .gameMap_container .gameContainer .mapDiv div.russia {
                left: 1476px;
                top: 137px;
            }

            .gameMap_container .gameContainer .mapDiv div.russia2 {
                left: 1339px;
                top: 237px;
            }

            .gameMap_container .gameContainer .mapDiv div.saudiArabia {
                left: 1321px;
                top: 516px;
            }

            .gameMap_container .gameContainer .mapDiv div.republicOfCongo {
                left: 1117px;
                top: 716px;
            }

            .gameMap_container .gameContainer .mapDiv div.rwanda {
                left: 1516px;
                top: 729px;
            }

            .gameMap_container .gameContainer .mapDiv div.australia {
                left: 1910px;
                top: 928px;
            }

            .gameMap_container .gameContainer .mapDiv div.china1 {
                left: 1974px;
                top: 185px;
            }

            .gameMap_container .gameContainer .mapDiv div.china2 {
                left: 1795px;
                top: 301px;
            }

            .gameMap_container .gameContainer .mapDiv div.china3 {
                left: 1795px;
                top: 399px;
            }

            .gameMap_container .gameContainer .mapDiv div.china4 {
                left: 1795px;
                top: 497px;
            }

            .gameMap_container .gameContainer .mapDiv div.china5 {
                left: 2098px;
                top: 322px;
            }

            .gameMap_container .gameContainer .mapDiv div.china6 {
                left: 2098px;
                top: 420px;
            }

            .gameMap_container .gameContainer .mapDiv div.china7 {
                left: 2098px;
                top: 518px;
            }

        .gameMap_container .gameContainer .borderInner {
            width: 271px;
            height: 88px;
            background: url("http://www.mobilemuster.com.au/activities/images/section2-largeBox-r2.png") no-repeat;
            position: absolute;
            left: 3px;
            top: 0px;
        }

.gameMix_container {
    width: 600px;
    min-height: 696px;
    margin: 23px auto 0px;
    position: relative;
}

    .gameMix_container .gameContainer {
        height: 151px;
        padding-bottom: 15px;
        background: url("http://www.mobilemuster.com.au/activities/images/mix-bg.png") no-repeat left bottom #8f223f;
    }

    .gameMix_container .gameFooter {
        padding-bottom: 20px;
        background: url("http://www.mobilemuster.com.au/activities/images/mixFooter.png") no-repeat left bottom #751b33;
    }

        .gameMix_container .gameFooter .title {
            padding: 12px 0px 8px 22px;
        }

        .gameMix_container .gameFooter .correctHatches {
            padding-left: 11px;
        }

        .gameMix_container .gameFooter .resultBox {
            width: 281px;
            height: 85px;
            background: url("http://www.mobilemuster.com.au/activities/images/section3-largeBox2.png") no-repeat;
            float: left;
            margin-left: 6px;
            margin-bottom: 8px;
            position: relative;
        }

.resultBox .borderInner {
    width: 283px;
    height: 88px;
    background: url("http://www.mobilemuster.com.au/activities/images/section3-largeBox-r2.png") no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
}

    .resultBox .borderInner .intro {
        width: 130px;
        height: 72px;
        overflow: hidden;
        margin: 14px 0px 0px 15px;
        font-size: 11px;
        color: #312542;
        font-weight: bold;
        line-height: 14px;
    }

    .resultBox .borderInner .picshow {
        width: px;
        height: px;
        overflow: hidden;
        position: absolute;
        right: 52px;
        top: 0px;
        background: #e4e4e4;
    }

.MixBox {
    width: 487px;
    height: 131px;
    background: url("http://www.mobilemuster.com.au/activities/images/gameMix.png") no-repeat;
    margin-left: 18px;
    position: relative;
}

    .MixBox .check {
        display: block;
        width: 71px;
        height: 71px;
        background: url("http://www.mobilemuster.com.au/activities/images/check.png") no-repeat;
        position: absolute;
        right: -82px;
        top: 4px;
    }

    .MixBox .leftToGo {
        display: block;
        width: 77px;
        height: 40px;
        background: url("http://www.mobilemuster.com.au/activities/images/leftToGo-mix.png") no-repeat;
        position: absolute;
        right: -86px;
        top: 78px;
        font-family: 'londrina_solidregular';
        font-size: 29px;
        text-align: center;
        color: #fff;
        padding-top: 15px;
    }

.scrollable01_container {
    width: 192px;
    height: 131px;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}

.scrollable02_container {
    width: 85px;
    height: 131px;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}

.scrollable01_container .next {
    display: block;
    width: 90px;
    height: 0px;
    overflow: hidden;
    padding: 20px 0px 0px;
    position: absolute;
    left: 4px;
    bottom: 12px;
    cursor: pointer;
    top: 98px;
    background: none;
}

.scrollable01_container .prev {
    display: block;
    width: 90px;
    height: 0px;
    overflow: hidden;
    padding: 20px 0px 0px;
    position: absolute;
    left: 96px;
    bottom: 12px;
    cursor: pointer;
    top: 98px;
    background: none;
}

.scrollable02_container .next {
    display: block;
    width: 42px;
    height: 0px;
    overflow: hidden;
    padding: 20px 0px 0px;
    position: absolute;
    left: -1px;
    bottom: 12px;
    cursor: pointer;
    top: 98px;
    background: none;
}

.scrollable02_container .prev {
    display: block;
    width: 42px;
    height: 0px;
    overflow: hidden;
    padding: 20px 0px 0px;
    position: absolute;
    left: 42px;
    bottom: 12px;
    cursor: pointer;
    top: 98px;
    background: none;
}

.MixBox .prev.disabled, .MixBox .next.disabled {
    background: url("http://www.mobilemuster.com.au/activities/images/space-white.png") repeat;
}

.scrollable01 {
    width: 192px;
    height: 86px;
    overflow: hidden;
    position: relative;
}

.scrollable02 {
    width: 85px;
    height: 86px;
    overflow: hidden;
    position: relative;
}

    .scrollable01 .items, .scrollable02 .items {
        height: 20000em;
        margin: 0;
        position: absolute;
    }

.scrollable01 .item {
    width: 192px;
    height: 86px;
    position: relative;
    background: url("http://www.mobilemuster.com.au/activities/images/section3-largeBox2-inner.png") no-repeat;
}

.scrollable02 .item {
    width: 85px;
    height: 86px;
    position: relative;
}

.scrollable01 .intro {
    width: 122px;
    height: 72px;
    overflow: hidden;
    padding: 14px 0px 0px 12px;
    font-size: 11px;
    color: #312542;
    font-weight: bold;
    line-height: 14px;
}

.scrollable01 .btn-giveMeAHint {
    display: block;
    width: 40px;
    height: 72px;
    background: url("http://www.mobilemuster.com.au/activities/images/button-hint.png") no-repeat;
    position: absolute;
    right: 5px;
    top: 7px;
}

.scrollable02 .item .cover {
    position: absolute;
    left: 0px;
    top: 0px;
}


.mobileBox {
    width: 150px;
    height: 94px;
    background: url("http://www.mobilemuster.com.au/activities/images/small-frame.png") no-repeat;
}

    .mobileBox .borderInner2 {
        width: 143px;
        height: 86px;
        background: #fff;
        border-radius: 4px;
        float: left;
        margin-left: 4px;
        margin-top: 4px;
        position: relative;
    }
        /*.mobileBox .mobileFeature{ width:143px; height:86px; background:#fff; border-radius:4px; float:left; margin-left:4px; margin-top:4px; position:relative;}*/
        .mobileBox .borderInner2 .picshow {
            width: 74px;
            height: 86px;
            overflow: hidden;
            margin-left: 8px;
        }

            .mobileBox .borderInner2 .picshow img {
                width: 74px;
                height: 86px;
            }

    .mobileBox .btn-giveMeAHint, .gameHist_container .gameContainer .borderInner2 .btn-giveMeAHint {
        display: block;
        width: 40px;
        height: 72px;
        background: url("http://www.mobilemuster.com.au/activities/images/button-hint.png") no-repeat;
        position: absolute;
        right: 10px;
        top: 7px;
    }

.gameHist_container .gameContainer .borderInner2 .btn-giveMeAHint {
    top: 12px;
}

.mobileBox .borderInner2 .intro, .gameHist_container .gameContainer .borderInner2 .intro {
    width: 82px;
    height: 70px;
    overflow: hidden;
    padding: 7px 0px 0px 12px;
    font-size: 11px;
    color: #312542;
    font-weight: bold;
    overflow-y: scroll;
}

.gameHist_container .gameContainer .borderInner2 .intro {
    width: 75px;
    height: 90px;
}






































/*popup*/
.shade {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    border-radius: 15px;
}

.popup {
    width: 318px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -159px;
    z-index: 10001;
}

    .popup .bottom {
        width: 318px;
        height: 8px;
        background: url("http://www.mobilemuster.com.au/activities/images/popup-bottom.png") no-repeat;
        position: relative;
    }

    .popup .inner1 {
        background: #fff;
        padding: 20px 20px 8px 16px;
        border-right: 3px solid #000;
    }

    .popup h3 {
        font-family: 'londrina_solidregular';
        font-size: 18px;
        color: #3b3b3b;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .popup .intro {
        font-size: 13px;
        color: #3b3b3b;
        font-weight: bold;
        margin-bottom: 18px;
    }

    .popup .btn-ok {
        display: block;
        width: 50px;
        height: 33px;
        background: url("http://www.mobilemuster.com.au/activities/images/btn-ok.png") no-repeat;
    }

.correctPopup {
}

.hintPopup .btn-ok {
    background: url("http://www.mobilemuster.com.au/activities/images/btn-ok-red.png") no-repeat;
}

.tryagainPopup .btn-ok {
    width: 87px;
    background: url("http://www.mobilemuster.com.au/activities/images/btn-retry.png") no-repeat;
}

.learnmorePopup .btn-ok {
    width: 119px;
    background: url("http://www.mobilemuster.com.au/activities/images/btn-okGotIt-green.png") no-repeat;
}

.learnmorePopup .inner1 {
    padding: 0px 0px 0px 16px;
}

.learnmorePopup .flexcroll {
    padding: 20px 20px 8px 0px;
    height: 370px;
}

.learnmorePopup .scrollBottom {
    width: 16px;
    height: 8px;
    position: absolute;
    right: 3px;
    bottom: 3px;
    background: url("http://www.mobilemuster.com.au/activities/images/bar-bg.png") no-repeat left bottom;
}

.gameMap_container .shade {
    height: 473px;
}

.gameHist_container .shade {
    height: 500px;
}

.gameMix_container .shade {
    height: 694px;
}
.congratulationsPopup{ top:50%; margin-top:-101px;}
.congratulationsPopup .intro{ text-align:center;}
.congratulationsPopup .btn-container{ padding-left:51px; padding-bottom:8px;}
.congratulationsPopup .btn-close{ display:inline-block; width:81px; height:33px; background:url("http://www.mobilemuster.com.au/activities/images/btn-close.png") no-repeat;}
.congratulationsPopup .btn-playAgain{ display:inline-block; width:121px; height:33px; background:url("http://www.mobilemuster.com.au/activities/images/btn-playAgain.png") no-repeat; margin-left:10px;}

/*Bill home_only*/

.videobox{ position:relative;}
.videobox a.button{ display:block; background:url("http://www.mobilemuster.com.au/activities/images/form/playbutton.png") no-repeat; width:160px; height:81px; position:absolute; left:220px; top:125px;}
ul.more_list span{ display:block;}
ul.more_list { width:600px; margin:0; padding:0; margin-left:-30px; padding-bottom:20px;}
ul.more_list li{ width:270px; float:left; overflow:hidden; margin-left:30px; background:url("http://www.mobilemuster.com.au/activities/images/form/line.jpg") no-repeat center bottom; margin-top:20px;}
ul.more_list span.title{ font-size:20px;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:20px; color:#000;}
ul.more_list span.date_time{ line-height:20px; font-size:10px; font-weight:bold; color:#000;}
ul.more_list span.con_dicription{ line-height:19px; font-size:14px; color:#3f3f3f; padding:8px 0 20px 0;}
ul.more_list span.con_dicription img{ margin-bottom:10px;}
ul.more_list a.read_more{ display:block; line-height:13px; font-size:11px; color:#000;}
ul.more_list span.postedby{ line-height:13px; font-size:11px; color:#000; margin-top:15px; margin-bottom:30px;}
.see_more{ text-align:center; padding-bottom:30px; clear:both;}
.see_more a.seemore{ display:block; background:url("http://www.mobilemuster.com.au/activities/images/form/seemore.jpg") no-repeat; width:291px; height:66px; margin:0 auto;}

.sendinyouwork{ margin-top:50px;}
.sendinyouwork img{ float:right;}
.sendinyouwork .title_send{ font-size:41px; color:#2091d0;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg02.png") no-repeat left bottom; width:340px; padding-bottom:15px;}
.sendinyouwork .title_downloads{ font-size:41px; color:#d0315b;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg03.png") no-repeat left bottom; width:340px; padding-bottom:15px;}
.sendinyouwork .title_factsheets{ font-size:30px; color:#41b049;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg04.png") no-repeat left bottom; padding-bottom:8px; margin-bottom:10px;}
.sendinyouwork .title_videos{ font-size:30px; color:#f05523;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg05.png") no-repeat left bottom; padding-bottom:8px; margin-bottom:17px;}
.sendinyouwork .title_poster{ font-size:30px; color:#6f499d;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg06.png") no-repeat left bottom; padding-bottom:8px; margin-bottom:10px;}
.sendinyouwork .title_picture{ font-size:30px; color:#2091d0;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg07.png") no-repeat left bottom; padding-bottom:8px; margin-bottom:10px;}
.sendinyouwork .discription_con{ font-size:14px; line-height:19px; color:#3f3f3f; padding:10px 0; padding-right:30px;}
.sendinyouwork .download a{ text-decoration:underline; font-size:14px; font-weight:bold; color:#2091d0;}
.sendinyouwork .title_makeaposter{ font-size:41px; color:#f05523;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg08.png") no-repeat left bottom; padding-bottom:8px; margin-bottom:10px;}
.sendinyouwork .title_how{ font-size:30px; color:#d0315b;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg09.png") no-repeat left bottom; padding-bottom:8px; margin-bottom:10px;}
.sendinyouwork .title_runamuster{ font-size:41px; color:#6f499d;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:45px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg10.png") no-repeat left bottom; padding-bottom:8px; margin-bottom:10px;}



.sendinyouwork .discription_con ul,.sendinyouwork .discription_con ol{
	padding:0 0 0 20px;
	margin:0 0 10px;
}
.sendinyouwork .discription_con ul li,.sendinyouwork .discription_con ol li{
	font-size:14px;
	line-height:19px;
	padding:0;
	margin:0 0 5px;
	list-style:decimal;
}

.sendinyouwork p{  
	font-size:14px;
	line-height:19px;
	padding:0;
	margin:0 0 15px;
}


.formbox{ margin-top:60px; padding-bottom:60px;}
.formbox input{ color:#3f3f3f; font-size:14px;}
.formbox .title_send{ font-size:30px; color:#f05523;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:30px; background:url("http://www.mobilemuster.com.au/activities/images/form/title_bg.png") no-repeat left bottom; width:600px; padding-bottom:15px;}
.inputbox{ height:27px; line-height:27px; margin-top:30px;}
.inputbox .leftname{ float:left; width:195px; padding-left:10px; color:#3f3f3f; font-size:14px; position:relative;}
.inputbox .leftname span{ display:block; font-size:10px;  color:#f05523; font-weight:bold; line-height:12px; }
.inputbox .rightname{ float:left; width:390px; position:relative;}
.inputbox .rightname select{ position:absolute; left:0; top:0; z-index:-1;}
.inputbox .rightname input{ width:370px; height:17px; line-height:17px; padding:5px 10px; display:block; border:0; background:url("http://www.mobilemuster.com.au/activities/images/form/input_02bg.png") no-repeat left top;}
.inputbox .rightname input.error{ background-position: left bottom;}

.inputbox .rightname02{ float:left; width:390px; height:37px;}
.inputbox .rightname02 .box01{ position:relative; width:191px; height:27px; float:left;}
.inputbox .rightname02 .box02{ position:relative; width:191px; height:27px; float:left; margin-left:8px;}
.inputbox .rightname02 .box02 span,.inputbox .rightname02 .box01 span{ position:absolute; left:0 ; top:0; line-height:27px; height:27px; padding-left:10px; font-size:14px; color:#999; display:block;}
.inputbox .rightname02 input{ width:171px; height:17px; line-height:17px; padding:5px 10px; display:block; border:0; background:url("http://www.mobilemuster.com.au/activities/images/form/input_01bg.png") no-repeat left top; float:left;}
.inputbox .rightname02 input.error{ background-position: left bottom;}


.inputbox .rightname .filebox input{ display:block; float:left; width:293px; padding:5px 10px; height:17px; line-height:17px; font-size:14px; color:#999; margin:0; border:0; background:url("http://www.mobilemuster.com.au/activities/images/form/file_inputbg.png") no-repeat;}
.inputbox .rightname .filebox #browse_upload{ float:left; width:71px; height:27px; display:block; background:url("http://www.mobilemuster.com.au/activities/images/form/browse_button.png") no-repeat left top; padding:0; position:static; margin-left:5px; cursor:pointer;}
.inputbox .rightname .filebox #browse_upload input{filter:alpha(opacity:0);opacity: 0; width:71px; padding:0; height:17px;}


.opaque{
	filter:alpha(opacity:70);
	opacity:0.7;
}

.inputbox2{ height:181px; line-height:27px; margin-top:30px;}
.inputbox2 .leftname{ float:left; width:195px; padding-left:10px; color:#3f3f3f; font-size:14px;}
.inputbox2 .rightname{ float:left; width:390px; position:relative;}
.inputbox2 .rightname textarea{ width:370px; height:171px; line-height:17px; padding:5px 10px; display:block; border:0; background:url("http://www.mobilemuster.com.au/activities/images/form/textareabg.png") no-repeat left top; resize:none; font-size:14px;}
.inputbox2 .rightname textarea.error{ background-position: left bottom;}
.submitbox{ height:36px; margin-top:21px;}
.submitbox input{ background:url("http://www.mobilemuster.com.au/activities/images/form/sendyouwork_button.png") no-repeat; width:173px; height:36px; display:block; border:0; float:right; cursor:pointer;}
.rightname span{color: #999; display:block; position:absolute; left:0; top:0; line-height:27px; height:27px; padding-left:10px; font-size:14px; color:#999.inputbox .rightname .filebox input}

.learnmorePopup_box{ background:url("http://www.mobilemuster.com.au/activities/images/form/popup_bg.png") repeat; width:100%; height:100%; position:absolute; left:0; top:0; z-index:-1;}
.learnmorePopup span,.learnmorePopup p{ color:#3b3b3b; font-size:13px; font-weight:bold; padding:10px 0; margin:0; display:block; line-height:14px;}
.learnmorePopup span{ color:#2091d0;}
.learnmorePopup_box .popup .inner1{ border:0; background:url("http://www.mobilemuster.com.au/activities/images/form/pupop_bg.png") no-repeat left bottom; padding-right:3px; padding-bottom:3px;}
.learnmorePopup p a{ text-decoration:underline; color:#f05523;}
.learnmorePopup .title{ font-size:28px; color:#fff;font-family: 'londrina_solidregular'; line-height:49px; text-transform:uppercase; padding-left:16px; height:49px; background:url("http://www.mobilemuster.com.au/activities/images/form/pupop_bg.png") no-repeat left top;}
.learnmorePopup input{ background:url("http://www.mobilemuster.com.au/activities/images/form/agree_bg.png") no-repeat; width:132px; height:33px; display:block; border:0; cursor:pointer; margin:10px 0;}



.colA_l {
    border-top:0 solid #E5E5E5;
    float: left;
    width: 605px;
	margin-top:-20px;
}
div.kids-factsheet{
	padding:10px 0 0;
}
div.kids-video h2,
div.kids-factsheet h2{
	font-size:19px; color:#1a1a1a;font-family: 'londrina_solidregular'; text-transform:uppercase; line-height:25px; 
	 padding-bottom:11px;}

div.kids-factsheet h2 span{
	font-size:10px;
	line-height:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:25px;
}
div.kids-factsheet .thumbnail{
	float:right;
	border:4px solid #41b049;
	margin-left:20px;
	margin-top:10px;
	-moz-border-radius:3px; 
	border-radius:3px;
}
div.kids-factsheet a{ 
	font-weight:bold;
	color:#41b049;
}
div.kids-factsheet{
	border-bottom:1px dotted #41b049;
	margin-bottom:9px;
	padding-bottom:5px;
}
a.icon-float-right-contract{
	background:url("http://www.mobilemuster.com.au/activities/images/form/icon-minus.png") right top no-repeat;
	font-family: 'londrina_solidregular';
	font-size:20px;
	font-weight:bold;
	color:#a7a7a7;
	padding:4px 28px 5px 0;
	float:right;
	cursor:hand;
	cursor:pointer;
	margin-top:13px;
}
a.icon-float-right-expand{
	background:url("http://www.mobilemuster.com.au/activities/images/form/icon-plus.png") right top no-repeat;
	font-family: 'londrina_solidregular';
	font-size:20px;
	font-weight:bold;
	color:#a7a7a7;
	padding:4px 28px 5px 0;
	float:right;
	cursor:hand;
	cursor:pointer;
	margin-top:13px;
}
a.start{
	font-family: 'londrina_solidregular';
	font-size:20px;
	font-weight:bold;
	color:#a7a7a7;
	padding:4px 10px 5px 0;
	float:right;
	cursor:hand;
	cursor:pointer;
	margin-top:13px;
}
#factsheet-container{
	margin-bottom:0px;
}
.clear40{
	height:40px;
	clear:both;
}

div.video-frame{
	width:290px;
	height:187px;
	overflow:hidden;
	position:relative;
	margin-bottom:15px;
}
div.video-frame img{
	position:absolute;
}
div.kids-video{
	float:left;
	width:290px;
	margin-right:10px;
	border-bottom:1px dotted #f05523;
	margin-bottom:20px;
}

div.kids-video a{ color:#f05523; font-weight:bold;}

#poster-container a{
	color:#6f499d;
	font-weight:bold;
}

div.picture-frame{
	position:relative;
	width:190px;
	height:127px;
	overflow:hidden;
}
div.picture-frame img{
	position:absolute;
}
div.kids-pictures{
	float:left;
	padding:10px 10px 0 0;
}
div.purple-theme{
	border-bottom:1px dotted #6f499d;
}
div.kids-factsheet.purple-theme .thumbnail{
	border:4px solid #6f499d;
	-moz-border-radius:3px; 
	border-radius:3px;
}
div.kids-factsheet.purple-theme a{
	color:#6f499d;
}
div.kids-factsheet.blue-theme .thumbnail{
	border:4px solid #2091d0;
	-moz-border-radius:3px; 
	border-radius:3px;
}
div.kids-factsheet.blue-theme a{
	color:#2091d0;
}
div.kids-factsheet.red-theme .thumbnail{
	border:4px solid #d0315b;
	-moz-border-radius:3px; 
	border-radius:3px;
}
div.kids-factsheet.red-theme a{
	color:#d0315b;
}
div.red-theme{
	border-bottom:1px dotted #d0315b;
}
div.blue-theme{
	border-bottom:1px dotted #2091d0;
}
#how-container a{
	font-weight:bold;
	color:#d0315b
} 

div.calculator-column{
	width:290px;
	padding-right:10px;
	float:left;
}
div.calculator-column img{
	padding-bottom:13px;
}
div.calculator-column h2{
	font-size:19px; color:#1a1a1a;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	padding-top:7px;
	margin-bottom:12px;
}
div.calculator-column a{
	font-weight:bold;
	color:#41b049;
}
div.blue-theme a{
	color:#2091d0;
	font-weight:bold;
}
a.blue-link{
	color:#2091d0;
	font-weight:bold;
}
a.green-link{
	font-weight:bold;
	color:#41b049;
}
a.sendinyours{
	background:url("http://www.mobilemuster.com.au/activities/images/form/button-sendinyouwork.png") left top no-repeat;
	display:block;
	width:279px;
	height:42px;
}



p.work-pagination{
	text-align:center;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:20px;
	color:#a6a6a6;
	padding-top:30px;
}
p.work-pagination a{
	text-decoration:none;
	padding:0 2px 0 2px;
}
p.work-pagination a.selected{
	color:#f4b916;
	font-size:35px;
}
p.work-pagination a.previousp{
	color:#2091d0;
	text-decoration:underline;
}
p.work-pagination a.nextp{
	text-decoration:underline;
	color:#f05523;
}
div.work-search{
	float:right;
}
input.work-search-field{
	background:transparent;
	width:160px;
	padding:3px 2px 4px 2px;
	margin:0;
	border:1px solid #cccccc;
	-moz-border-radius:3px; 
	border-radius:3px;
}
input.button-go{
	background:transparent;
	border:0;
	margin:0;
	padding:0;
	background:url("http://www.mobilemuster.com.au/activities/images/form/button-go.png") left 3px no-repeat;
	width:29px;
	height:28px;
}
div.calculator-1{
	background-image:url("http://www.mobilemuster.com.au/activities/images/form/calculate-1.png");
	width:600px;
	height:516px;
	margin:25px 0 10px 0;
	position:relative;
}
div.calculator-2{ 
	background-image:url("http://www.mobilemuster.com.au/activities/images/form/calculate-2.png");
	width:601px;
	height:862px;
	margin:5px 0 10px 0;
	position:relative;
}

div.calculator-2 input,
div.calculator-1 input{
	background:transparent;
	position:absolute;
	border:0;
	padding:0;
}
div.calculator-1 .button-calculate{
	position:absolute;
	background-image:url("http://www.mobilemuster.com.au/activities/images/form/button-calculate.png");
	width:184px;
	height:51px;
	top:190px;
	left:333px;
	cursor:hand;
	cursor:pointer;
}
div.calculator-2 .button-calculate{
	position:absolute;
	background-image:url("http://www.mobilemuster.com.au/activities/images/form/button-calculate.png");
	width:184px;
	height:51px;
	top:210px;
	left:334px;
	cursor:hand;
	cursor:pointer;
}
div.calculator-1 #field-1{
	width:170px;
	top:127px;
	left:340px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:22px;
	color:#1b4533;
}
div.calculator-1 #field-2{
	width:170px;
	top:310px;
	left:340px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:51px;
	line-height:55px;
	color:#fff;
	text-align:center;
}
div.calculator-1 #field-3{
	width:170px;
	top:400px;
	left:340px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:51px;
	line-height:55px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-1{
	width:170px;
	height:30px;
	top:131px;
	left:340px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:22px;
	color:#005388;
}
div.calculator-2 #c2-field-2{
	width:100px;
	height:40px;
	top:375px;
	left:200px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-3{
	width:100px;
	height:40px;
	top:375px;
	left:298px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-4{
	width:100px;
	height:40px;
	top:375px;
	left:390px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-5{
	width:100px;
	height:40px;
	top:375px;
	left:480px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-6{
	width:100px;
	height:40px;
	top:546px;
	left:200px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-7{
	width:100px;
	height:40px;
	top:546px;
	left:298px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-8{
	width:100px;
	height:40px;
	top:726px;
	left:200px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-9{
	width:100px;
	height:40px;
	top:726px;
	left:298px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-10{
	width:100px;
	height:40px;
	top:726px;
	left:390px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}
div.calculator-2 #c2-field-11{
	width:100px;
	height:40px;
	top:726px;
	left:480px;
	font-family: 'londrina_solidregular'; text-transform:uppercase;
	font-size:30px;
	line-height:34px;
	color:#fff;
	text-align:center;
}



div.content-left div.guide-modules-factsheet table {
	border:none;
}

div.content-left div.guide-modules-factsheet table td{
	border:none;
	float:none;
	vertical-align:top;
}

div.content-left div.guide-modules-factsheet table td.module-icon{
	width:50px;
	padding:10px 12px 15px 0;
}
div.content-left div.guide-modules-factsheet table td.module-content{
	width:222px;
	padding:10px 25px 15px 0;
}
div.content-left div.guide-modules-factsheet table td.module-content h2{
	color:#d0315b;
	font-size:16px;
	line-height:20px;	
	font-family: 'londrina_solidregular';
	margin-bottom:8px;
}
div.content-left div.guide-modules-factsheet table td.module-content p span{
	font-size:10px;
	line-height:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
	text-transform:uppercase;
	color:#1a1a1a;
}
div.content-left div.guide-modules-factsheet table td.module-content p {
	margin-bottom:8px;
}
div.content-left div.guide-modules-factsheet table td.module-areas{
	width:80px;
	padding:10px 10px 15px 10px;
	border-left:1px dotted #d9d9d9;
}
div.content-left div.guide-modules-factsheet table td.module-curriculum img,
div.content-left div.guide-modules-factsheet table td.module-year img,
div.content-left div.guide-modules-factsheet table td.module-areas img{
	padding:0 0 2px 0;
}
div.content-left div.guide-modules-factsheet table td.module-curriculum{
	width:128px;
	padding:10px 10px 15px 10px;
	border-left:1px dotted #d9d9d9;
}
div.content-left div.guide-modules-factsheet table td.module-year{
	width:28px;
	padding:10px 0 15px 10px;
	border-left:1px dotted #d9d9d9;
}
div.content-left div.guide-modules-factsheet table td.module-title{
	border-bottom:1px dotted #d9d9d9;
	font-size:10px;
	padding:5px 0 5px 0;
	color:#1a1a1a;
	line-height:12px;
	vertical-align:bottom;
}
div.content-left div.guide-modules-factsheet table td.module-title.centered-text{
	text-align:center;
}
div.content-left div.guide-modules-factsheet table td.module-title.centered-text-extra{
	text-align:center;
	padding-left:10px;
}



.smaller-font span{
	font-size:11px;
	line-height:15px;
	padding-top:0;
}
.smaller-font p{
	padding-top:0;
	font-size:11px;
	line-height:14px;
	font-weight:normal;
}



div.old-style h1 {
    border-bottom: 2px solid #EDEEEE;
    margin-bottom: 20px;
    padding: 0 0 10px;
    font-family: SimpliciterSans-Bold;
    font-size: 24px;
    line-height: 27px;
}


.sendinyouwork .links {
    position: relative;
}
.sendinyouwork .links .button-hist {
    background-image: none;
    height: 100px;
    margin: 10px 12px;
    text-decoration: none;
    width: 271px;
}
  .sendinyouwork .links .button-hist{
    width:271px;
    height:100px;
    background-image:none;
    margin:10px 12px 10px 12px;
  text-decoration:none;
  }
  .sendinyouwork .links .button-hist-active,
  .sendinyouwork .links .button-hist:hover{
    background-position:0 -100px!important;
  }
.sendinyouwork .links a {
    display: inline-block;
}
	
	