<section class="mt5 mb5 usa-section usa-section-dark usa-graphic_list">
  <div class="bglogo-full usa-grid usa-graphic_list-row">
    <h3 class="f1 lh-title mv0">
      <span class="lh-copy white pa1">
        <span class="dib measure-wide mb3 pt2 bgdgreen dib usa-label">Since 1998&hellip;</span>
        <span class="dib">MobileMuster has safely and securely recycled mobile phones for Australian consumers and businesses for over 19 years, saving over 11 million handsets and batteries from landfill.</span>
        <span class="mt5 dib f3 near-black">MobileMuster responsibly recycles your mobile for free.<br>
        <a class="f3 near-black" href="/recycling/">Find your closest drop-off point</a> or <a class="f3 near-black" href="/media/135250/mobilemuster-mailing-label.pdf">download a shipping label</a>.</span>
      </span>
    </h3>
  </div>
</section>