
  <li>
    <a class="usa-nav-link" href="/">
      <span>Home</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/about/">
      <span>About</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/recycling/">
      <span>Recycling</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/education/">
      <span>Education</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/partners/">
      <span>Partners</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/contact/">
      <span>Contact</span>
    </a>
  </li>