
  <li>
    <a class="usa-nav-link" href="/">
      <span>Home 1</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/home-2/">
      <span>Home 2</span>
    </a>
  </li>
  <li>
  <li>
    <a class="usa-nav-link" href="/home-3/">
      <span>Home 3</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/home-4/">
      <span>Home 4</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/about/">
      <span>About</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/recycling/">
      <span>Recycling</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/education/">
      <span>Education</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/partners/">
      <span>Partners</span>
    </a>
  </li>
  <li>
    <a class="usa-nav-link" href="/contact/">
      <span>Contact</span>
    </a>
  </li>
