

    <div class="mt0 mb6 cf br3 usa-width-full bg-light-gray usa-section-dark">

        <div class="usa-width-one-half">
          <a href="/mobile-for-a-meal/"><img class="w-100" src="../img/mm/campaign-img-yell.jpg" alt=""></a>
        </div>
        <div class="pt6 pl3 pr5 usa-width-one-half">
          <span class="dib measure-wide mb1 pv2 bggreen dib usa-label">Featured News</span>
          <h2><span class="near-black usa-hero-callout-alt">Recycle your mobile and do some good this summer.</span></h2>
          <h4 class="mb4"><span class="near-black">We all have one; a little rough around the edges, not as cool as they used to be, or maybe you’ve upgraded to the latest model, they are simply old, broken, and unwanted. We’re talking about mobiles, millions in fact.</span></h4>

          <a class="hover-near-black" href="/campaign/mobile-for-a-meal/">Read more &rarr;</a>
          <!--a class="usa-button usa-button-big" href="">Learn about what we do</a-->
        </div>

      </div>
    </div>

