<section class="mb4 usa-hero">
  <div class="usa-grid">
    <h3>Since 1998 we have...</h3>
    <div class="usa-width-one-half">
      <div class="mb4 bglogo br3 usa-hero-callout usa-section-dark">
        <h3><span class="usa-hero-callout-alt">Recycled 12 Million Items</span></h3>
        <p class="usa-alert-text">We've recycled approximately 11.9 million individual handsets, batteries, and chargers.</p>
      </div>
    </div>
    <div class="usa-width-one-half">
      <div class="mb4 bglogo br3 usa-hero-callout usa-section-dark">
        <h3><span class="usa-hero-callout-alt">Recycled 1,323 Tonnes</span></h3>
        <a class="usa-hero-link" href="#">Book a Free Pick-up</a>
      </div>
    </div>
  </div>
</section>
