<section class="mt0 mb5 usa-section usa-section-dark usa-graphic_list">
  <div class="bglogo-full usa-grid usa-graphic_list-row">
    <h3 class="f1 measure lh-title mv0">
      <span class="lh-copy white pr4 pa1">
        <span class="mb3 pt2 bgdgreen dib usa-label">Did you know?</span><br>
        We accept any mobile phone and their batteries, chargers and accessories for recycling?
        <span class="mt5 dib f3 near-black">MobileMuster safely and securely recycles old mobiles for free.<br>
        <a class="f3 near-black" href="/recycling/">Find your closest drop-off point</a> <span class="f3">or</span> <a class="f3 near-black" href="/media/135250/mobilemuster-mailing-label.pdf">download a shipping label</a>.</span>
      </span>
    </h3>
  </div>
</section>