

<div class="mt6 w-70">

  <form name="Contact Form" action="/thank-you/" netlify-honeypot="bot-field" class="w-100 w-80-ns pa1 black" netlify >

  <label for="First Name"><span class="mmgreen">*</span>First Name</label>
    <input class="usa-input-success" id="First Name" name="First Name" type="text">

  <label for="Surname"><span class="mmgreen">*</span>Surname</label>
    <input class="usa-input-success" id="Surname" name="Surname" type="text">

  <label for="Email Address"><span class="mmgreen">*</span>Email Address</label>
    <input class="usa-input-success" id="Email Address" name="Email Address" type="text">

  <label for="Subject">Subject</label>
    <input class="usa-input-success" id="Subject" name="Subject" type="text">

  <!--label for="options">Subject</label>
      <select class="usa-input-success" name="options" id="options">
        <option value>- Select -</option>
        <option value="value1">Option A</option>
        <option value="value2">Option B</option>
        <option value="value3">Option C</option>
      </select-->

  <label for="Message">*Message</label>
  <textarea class="usa-input-success" id="Message" name="Message"></textarea>

  <div netlify-recaptcha></div>

  <div class="button_wrapper">
    <button type="submit" value="Send Contact Form" class="bggreen usa-button">Submit</button>
  </div>

</form>
