<section class="usa-hero">
  <div class="usa-grid">
    <div class="cf br3 usa-width-full bg-light-gray usa-section-dark">

        <div class="usa-width-one-half">
          <a class="usa-hero-link" href="/campaign/mobile-for-a-meal/"><img class="w-100" src="{{ .Site.BaseURL }}img/mm/campaign-img-blue.jpg" alt=""></a>
        </div>
        <div class="pt6 ph4 usa-width-one-half">
          <span class="dib measure-wide mb1 pv2 bggreen dib usa-label">Mobile for a Meal</span>
          <h2>
              <span class="near-black usa-hero-callout-alt">Recycle your mobile this summer and we’ll donate a meal to someone in need through OzHarvest.</span>
          </h2>
          <!--h3 class="near-black">There's room for a photo too!</h3-->

          <a class="green hover-near-black usa-hero-link" href="/campaign/mobile-for-a-meal/">Learn more &rarr;</a>
          <!--a class="usa-button usa-button-big" href="">Learn about what we do</a-->
        </div>

      </div>
    </div>
  </div>
</section>