<!--section class="usa-hero">
  <div class="usa-grid">
    <div class="cf br3 usa-width-full bg-light-gray usa-section-dark">

        <div class="usa-width-one-half">
          <a class="usa-hero-link" href="/campaign/mobile-for-a-meal/"><img class="w-100" src="{{ .Site.BaseURL }}img/mm/campaign-img-blue.jpg" alt=""></a>
        </div>
        <div class="pt6 ph4 usa-width-one-half">
          <span class="dib measure-wide mb1 pv2 bggreen dib usa-label">Mobile for a Meal</span>
          <h2>
              <span class="near-black usa-hero-callout-alt">Recycle your mobile this summer and we’ll donate a meal to someone in need through OzHarvest.</span>
          </h2>
          <a class="green hover-near-black usa-hero-link" href="/campaign/mobile-for-a-meal/">Learn more &rarr;</a>
        </div>

      </div>
    </div>
  </div>
</section-->

<section class="usa-hero">
  <div class='usa-grid {{ if .IsHome }} usa-section {{ end }} {{ if eq .URL "/news/" }} ph0 {{ end }}'>
    <div class="cf br3 usa-width-full bg-light-gray usa-section-dark">

        <div class="usa-width-one-half">
          <a class="usa-hero-link" href="/recycling/"><img class="w-100" src="{{ .Site.BaseURL }}uploads/draw.jpg" alt=""></a>
        </div>
        <div class="pt6 ph4 usa-width-one-half">
          <span class="dib measure-wide mb1 pv2 bggreen dib usa-label">Recycling Made Easy</span>
          <h2>
              <span class="near-black usa-hero-callout-alt">Do you have a phone that could be recycled? </span>
          </h2>
          <h4 class="mb4"><span class="near-black">Australians are among the highest users of technology and produce around 25kg of electronic waste each year. MobileMuster makes recycling your mobile easier than ever.</span></h4>

          <a class="green hover-near-black usa-hero-link" href="/recycling/">Learn how &rarr;</a>
          <!--a class="usa-button usa-button-big" href="">Learn about what we do</a-->
        </div>

      </div>
    </div>
  </div>
</section>