<section class="pt0 usa-hero">
  <div class="ph0 usa-grid">
    <div class="cf br3 usa-width-full bg-light-gray usa-section-dark">

      <div class="pt6 pl5 pr4 usa-width-one-half">
       <span class="dib measure-wide mb1 pv2 bggreen dib usa-label">{{ .Title }}</span>
       <h2>
           <span class="near-black usa-hero-callout-alt">Recycle your mobile this summer and we’ll donate a meal to someone in need through OzHarvest.</span>
       </h2>
       <!--h3 class="near-black">There's room for a photo too!</h3-->

       <a class="mmgreen hover-near-black usa-hero-link" href="#more">Read more &rarr;</a>
       <!--a class="usa-button usa-button-big" href="">Learn about what we do</a-->
      </div>

      <div class="usa-width-one-half">
        <img class="w-100" src="{{ .Site.BaseURL }}img/mm/campaign-img-blue.jpg" alt="">
      </div>

    </div>
  </div>
</section>