  <header class="usa-header usa-header-extended" role="banner">

<!-- Gov banner BEGIN -->
    <div class="usa-banner">
      <div class="usa-accordion">
        <header class="usa-banner-header">
          <div class="bg-near-white usa-grid usa-banner-inner">
            <!--img src="/img/favicons/favicon-57.png" alt="U.S. flag"-->
            <!--p class="pt3 pb3">Change your language.
            </p-->
            <!--button class="usa-accordion-button usa-banner-button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner-button-text">Change language</span>
            </button-->
          </div>
        </header>
        <div class="bgwhite usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
          <!--div class="cf pb4">
            <div class="fl ph3">
              <div class=""><img src="img/logos/microsoft.png" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/samsung.gif" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/motorola.gif" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/htc.gif" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/huwai.gif" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/zte.png" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/alcatel.png" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/oppologo.png" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/telstra.gif" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/optus.png" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/vodafone.gif" alt=""></div>
            </div>
            <div class="fl ph3">
              <div class=""><img src="img/logos/virgin.gif" alt=""></div>
            </div>
          </div-->
          <div class="usa-banner-guidance-gov usa-width-one-half">
            <!--img class="usa-banner-icon usa-media_block-img" src="/img/icon-dot-gov.svg" alt="Dot gov">
            <div class="usa-media_block-body">
              <p>
                <strong>The .gov means it’s official.</strong>
                <br>
                Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
              </p>
            </div-->
          </div>
          <!--div class="usa-banner-guidance-ssl usa-width-one-half">
            <img class="usa-banner-icon usa-media_block-img" src="/img/icon-https.svg" alt="SSL">
            <div class="usa-media_block-body">
              <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
            </div>
          </div-->
        </div>
      </div>
    </div>
    <!-- Gov banner END -->
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
          <!--a href="#" accesskey="1" title="Home" aria-label="Home">Mobile Muster</a-->
          <a href="/" accesskey="1" title="Home" aria-label="Home"><img src="/img/mm/mobile-muster-logo-full-sm.png" alt=""></a>
        </em>
      </div>
    </div>
    <nav role="navigation" class="usa-nav">
      <div class="usa-nav-inner">
        <button class="usa-nav-close">
          <img src="/img/close.svg" alt="close">
        </button>
        <ul class="usa-nav-primary usa-accordion">

          {{ partial "menu-demo" . }}

          <!--li>
            <form class="usa-search usa-search-small">
              <div role="search">
                <label class="usa-sr-only" for="search-field-big">Search big</label>
                <input id="search-field-big" type="search" name="search" placeholder="Type in your suburb or postcode...">
                <button type="submit">
                  <span class="usa-search-submit-text">Find</span>
                </button>
              </div>
            </form>
          </li-->
          <!--li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-1">
              <span>About Us</span>
            </button>
            <ul id="sidenav-1" class="usa-nav-submenu">
              <li>
                <a href="#">Who We Are</a>
              </li>
              <li>
                <a href="#">Fast Facts</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <a href="#">FAQs</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-2">
              <span>Recycling</span>
            </button>
            <ul id="sidenav-2" class="usa-nav-submenu">
              <li>
                <a href="#">Book a Pick-up</a>
              </li>
              <li>
                <a href="#">Our Recycle Process</a>
              </li>
              <li>
                <a href="#">Page title</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-3">
              <span>FAQs</span>
            </button>
            <ul id="sidenav-3" class="usa-nav-submenu">
              <li>
                <a href="#">The Recycling process</a>
              </li>
              <li>
                <a href="#">Product Stewardship</a>
              </li>
              <li>
                <a href="#">Why Recycling Matters</a>
              </li>
              <li>
                <a href="#">Reuse Options</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-4">
              <span>News</span>
            </button>
            <ul id="sidenav-4" class="usa-nav-submenu">
              <li>
                <a href="#">Latest News</a>
              </li>
              <li>
                <a href="#">Decluttering Tips</a>
              </li>
              <li>
                <a href="#">Annual Reports &amp; Publications</a>
              </li>
              <li>
                <a href="#">Consumer Research</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-5">
              <span>Retailers</span>
            </button>
            <ul id="sidenav-5" class="usa-nav-submenu">
              <li>
                <a href="#">Mobile Muster in Stores</a>
              </li>
              <li>
                <a href="#">Book a Pick Up</a>
              </li>
              <li>
                <a href="#">Packing Instructions</a>
              </li>
              <li>
                <a href="#">Retailer Login</a>
              </li>
              <li>
                <a href="#">Register Your Store</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-6">
              <span>Schools</span>
            </button>
            <ul id="sidenav-6" class="usa-nav-submenu">
              <li>
                <a href="#">Munster Kids Zone</a>
              </li>
              <li>
                <a href="#">Teachers' Guide</a>
              </li>
              <li>
                <a href="#">Downloads</a>
              </li>
              <li>
                <a href="#">Book a Pick-up</a>
              </li>
              <li>
                <a href="#">Register Your School</a>
              </li>
              <li>
                <a href="#">Muster Games</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-7">
              <span>Councils</span>
            </button>
            <ul id="sidenav-7" class="usa-nav-submenu">
              <li>
                <a href="#">Mobile Muster in Councils</a>
              </li>
              <li>
                <a href="#">Resources</a>
              </li>
              <li>
                <a href="#">Book a Pick-up</a>
              </li>
              <li>
                <a href="#">Awards</a>
              </li>
              <li>
                <a href="#">Case Studies</a>
              </li>
              <li>
                <a href="#">Register Your Council</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-8">
              <span>Workplaces</span>
            </button>
            <ul id="sidenav-8" class="usa-nav-submenu">
              <li>
                <a href="#">Mobile Muster in Workplaces</a>
              </li>
              <li>
                <a href="#">Able Australia</a>
              </li>
              <li>
                <a href="#">Case Studies</a>
              </li>
              <li>
                <a href="#">Collection Units</a>
              </li>
              <li>
                <a href="#">Register Your Council</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="usa-nav-link" href="#">
              <span>Contact Us</span>
            </a>
          </li-->
        </ul>
        <div class="usa-nav-secondary">
          <form class="usa-search usa-search-small js-search-form">
            <div role="search">
              <label class="usa-sr-only" for="search-field-small">Search small</label>
              <input id="search-field-small" type="search" name="search">
              <button type="submit">
                <span class="usa-sr-only">Search</span>
              </button>
            </div>
          </form>
          <ul class="usa-unstyled-list usa-nav-secondary-links">
            <li class="js-search-button-container">
              <button class="usa-header-search-button js-search-button">Search</button>
            </li>
            <!--li class="">

            </li-->
          </ul>
        </div>
      </div>
    </nav>
  </header>