<section class="pv0 usa-section">
  <div class="usa-grid">

    <nav class="db dt-l w-100 border-box pv3 ph0">
      <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tl tl-l mb2 mb0-l" href="{{ .Site.BaseURL }}" title="Home">
        <img src='{{ "/img/mm/mobile-muster-logo-full-sm.png" | absURL }}' class="dib" alt="Site Name">
      </a>
      <!--div class="ttu db dtc-l v-mid w-100 w-75-l tl tr-l">
        <a class="link dim green f4 f3-l dib mr3 mr4-l" href="/about/" title="Home">About</a>
        <a class="link dim green f4 f3-l dib mr3 mr4-l" href="/recycling/" title="How it Works">Recycling</a>
        <a class="link dim green f4 f3-l dib mr3 mr4-l" href="/education/" title="Blog">Education</a>
        <a class="link dim green f4 f3-l dib mr3 mr4-l" href="/partners/" title="Press">Partners</a>
        <a class="link dim green f4 f3-l dib" href="/contact/" title="Contact">Contact</a>
      </div-->
      <div class="ttu db dtc-l v-mid w-100 w-75-l tl tr-l">
        {{ if .IsHome }}
        {{ else }}
        {{ end }}
        <!--a class="link dim green f4 f3-l dib mr3 mr4-l" href="/" title="Home">Home</a-->
        <a class="link dim f4 f3-l dib mr3 mr4-l" href="{{ .Site.BaseURL }}about/" title="About">About</a>
        <a class="link dim f4 f3-l dib mr3 mr4-l" href="{{ .Site.BaseURL }}news/" title="About">News</a>
        <a class="link dim f4 f3-l dib mr3 mr4-l" href="{{ .Site.BaseURL }}recycling/" title="Recycling">Recycling</a>
        <a class="link dim f4 f3-l dib mr3 mr4-l" href="{{ .Site.BaseURL }}education/" title="Education">Education</a>
        <a class="link dim f4 f3-l dib mr3 mr4-l" href="{{ .Site.BaseURL }}partners/" title="Partners">Partners</a>
        <a class="link dim f4 f3-l dib" href="{{ .Site.BaseURL }}contact/" title="Contact">Contact</a>
      </div>
    </nav>

  </div>
</section>