<section class="pv0 usa-section">
  <div class="usa-grid">

    <nav class="dt w-100 border-box pv3 ph0">
      <a class="dtc v-mid mid-gray link dim w-30" href="/" title="Home">
        <img src="/img/mm/mobile-muster-logo-full-sm.png" class="dib" alt="Site Name">
      </a>
      <!--div class="dtc v-mid w-70 tr">
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="#" title="Store">About</a>
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="#" title="Contact">Recycling</a>
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="#" title="About">Education</a>
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="#" title="Store">Partners</a>
        <a class="link dim dark-gray f4 f3-ns dib" href="#" title="Contact">Contact</a>
      </div-->
      <div class="ttu dtc v-mid w-70 tr">
        <!--a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="About">Home</a-->
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="/" title="Store">Home</a>
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="/menu-2/" title="">Menu 2</a>
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="/menu-3/" title="">Menu 3</a>
        <a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="/page/" title="">Page</a>
        <a class="link dim dark-gray f4 f3-ns dib" href="/contact/" title="">Contact</a>
      </div>
    </nav>

  </div>
</section>